@charset "EUC-KR";

body {
	display: flex;
	justify-content: center;
	align-content: center;
	background-color: black;
	color: white;
	flex-direction: column;
}

hr {
	background: blue;
	background-color: blue;
	height: 3px;
	border: 0px;
	
}